<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<menu-config xmlns="http://jmix.io/schema/flowui/menu">

    <menu id="application" title="msg://com.company.chartconfig/menu.application.title" opened="true">
        <item view="User.list" title="msg://com.company.chartconfig.view.user/UserListView.title"/>
        <item view="Dataset.list" title="msg://com.company.chartconfig.view.dataset/datasetListView.title"/>
        <item view="ChartConfig.list" title="msg://com.company.chartconfig.view.chartconfig/chartConfigListView.title"/>
        <item view="ChartConfigView" title="msg://com.company.chartconfig.view.chartconfig/chartConfigView.title"/>
        <item view="NewChartConfig" title="msg://com.company.chartconfig.view.newchartconfig/newChartConfig.title"/>
    </menu>

</menu-config>